AZURE_REGION=uksouth
STORE_BACKEND=azure
STORAGE_ACCOUNT_URL=https://<account>.blob.core.windows.net
THUMBNAIL_CONTAINER=thumbnails
RESULTS_TABLE=detections
RESULTS_RETENTION_DAYS=30
DETECTOR_CLASSIFIER=onnx
DETECTOR_MODEL_PATH=models/community_forensics_frontier_fp16.onnx
DETECTOR_MODEL_ID=Thermostatic/community-forensics-frontier-detector-2026-08
DETECTOR_MODEL_VERSION=frontier-2026-08
DETECTOR_MODEL_REVISION=16db135220b318d811b207db576d90368980b595
BAND_LOW_THRESHOLD=0.35
BAND_HIGH_THRESHOLD=0.65
MAX_IMAGE_BYTES=20971520
MAX_IMAGE_PIXELS=80000000
THUMBNAIL_MAX_PX=512
C2PATOOL_PATH=c2patool
C2PA_TRUST_FILE=detector/c2pa_trust/C2PA-TRUST-LIST.pem
DETECTOR_API_KEY=
APPLICATIONINSIGHTS_CONNECTION_STRING=
LOCAL_STORE_DIR=/tmp/aidetect-dotnet-store
ENABLE_BROWSER_UPLOAD=false
